{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
  <p> <b>Пользователь</b>, добро пожаловать на портал Yatube.</p>
  <p>В данном разделе размещено немного информации об авторе данного учебного проекта. </p>
  <h1>Об авторе</h1>
  <table width="100%" cellspacing="0" cellpadding="5">
    <tr> 
     <td width="900" valign="top">
      <article>
        <ul>
          <li>
            Имя: Иван Лепский
          </li>
          <li>
            Возраст: 31  год
          </li>
          <li>
            Год рождения: 1990
          </li>
          <li>
            Место проживания: г. Санкт-Петербург
          </li>
          <p>
            Я родился в городе Великие Луки (Псковская обл). С 2009 года поступил и учился на Механическом факультете Петербургского государственного
            университета путей сообщения по специальности "Подъемно-транспортные, строительные, дорожные машины и оборудование". После окончания обучения
            3 года работал в ОАО "РЖД", с 2017 года работаю в сфере гидравлики инженером-конструктором.
          </p>
        </ul>
      </article>
     </td>
    </tr>
   </table>
  </div>
{% endblock %}