{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
  <p> <b>Пользователь</b>, добро пожаловать на портал Yatube.</p>
  <p>В данном разделе размещено немного информации об авторе данного учебного проекта. </p>
  <h1>Об авторе</h1>
  <table width="100%" cellspacing="0" cellpadding="5">
    <tr> 
     <td width="900" valign="top">
      <article>
        <ul>
          <li>
            Имя: Иван Лепский
          </li>
          <li>
            Возраст: 31  год
          </li>
          <li>
            Год рождения: 1990
          </li>
          <li>
            Место проживания: г. Санкт-Петербург
          </li>
          <p>
            Я родился в городе Великие Луки (Псковская обл). С 2009 года поступил и учился на Механическом факультете Петербургского государственного
            университета путей сообщения по специальности "Подъемно-транспортные, строительные, дорожные машины и оборудование". После окончания обучения
            3 года работал в ОАО "РЖД", с 2017 года работаю в сфере гидравлики инженером-конструктором.
          </p>
          <p>
            Всю жизнь интересовало все, что связано с компьютерами. На работе в свое время пригодились навыки и умения по сборке ПК, обустройству простейшей
            локальной сети, настройке Windows Server для cовместной работы. Разобрался и самостоятельно наладил работу Autodesk Vault Server для совместной работы
            инженеров конструкторского отдела в своей организации и централизованного хранения инженерных данных.
          </p>
          <p>
            Год назад появилась идея изучить основы программирования, с целью оптимизировать и автоматизировать свои рабочие процессы. Возможно познать дзен
            автоматического проектирования типовых конструкций. Начал изучать информацию о языках программирования, сферах применения. В процессе понял, что
            хочу научиться чему-то новому для себя, хочу найти больше знакомств и друзей в сфере IT. По итогу попал в Яндекс.Практикум на курс Python. На данный 
            момент я заканчиваю свой первый учебный проект на Django. В процессе обучения я заметил за собой неподдельный интерес, буду стремится к развитию в 
            данной сфере. С каждым завершенным спринтом желание поменять профессиональную сферу деятельности и свою жизнь все сильнее.
          </p>
        </ul>
      </article>
     </td>
     <td valign="middle">
       <p>А это моё "рабочее" место
      <a href="https://imageup.ru/img57/3853741/1234.jpg.html" target="_blank"><img src="https://imageup.ru/img57/thumb/12343853741.jpg" border="0" alt="Хостинг фото"></a>
     </td>
    </tr>
   </table>
  </div>
{% endblock %}